body{
    margin: 0;
    padding: 2px;
    font-family: 'Playfair Display', serif;
}
#links-outer{
    max-width: 80%;
    min-width: 50%;
}
#medium-posts{
    min-width: 20%;
    max-width: 50%;
}
#div2{
    padding: 0.5% 0.5% 0% 0.5%;
}
#div2{
    max-width: 80%;
    min-width: 70%;
}
#twit{
    min-width: 50%;
    max-width: 10%;
}
#cv{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
}
#cv:hover{
    background-color: #246425; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 1s;
}
progress {
    text-align: middle;
    padding: 10px;
}
progress:after {
    content: attr(value)'%';
}