body{
    margin: 0;
    padding: 2px;
    font-family: 'Playfair Display', serif;
}
#links-outer{
    max-width: 80%;
    min-width: 50%;
}
#medium-posts{
    min-width: 20%;
    max-width: 50%;
}
#div2{
    padding: 0.5% 0.5% 0% 0.5%;
}
#div2{
    max-width: 80%;
    min-width: 60%;
}
#twit{
    min-width: 50%;
    max-width: 10%;
}