body{
    font-family: 'Playfair Display', serif;
}
#links-outer{
    max-width: 80%;
    min-width: 50%;
}
#medium-posts{
    margin: 50px;
}
#div2{
    padding: 0.5% 0.5% 0% 0.5%;
}
#div2{
    max-width: 80%;
    min-width: 50%;
}